.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.registration-body, .product-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-box, .registration-box, .product-box {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px;
  width: 350px;
  text-align: center;
  margin-top: 180px;
}

.input-field {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login-button {
  width: 100%;
  color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  background-color: dodgerblue;
}

.welcome-text, .product-text {
  font-size: 34px;
}

.forgot-password a, .back-to-login a {
  color: blue;
  text-decoration: none;
}

.create-account-button {
  width: 100%;
  font-size: 24px;
  background-color: limegreen;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  margin-top: 10px;
}

.input-field.error {
  border: 2px solid red;
}

