<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css" type="text/css" />
    <script src="../js/Registration.js" defer></script>
    <title>Registration Page</title>
</head>
<body class="registration-body">
    <div class="container">
        <div class="registration-box">
            <form action="../actions/register_user_action.php" method="POST" id="registrationForm">
                <b id="registrationText" class="welcome-text">Registration</b>
                
                <input type="text" id="fullName" name="fullName" placeholder="Full Name" required class="input-field">
                <span id="nameError" class="error-message"></span>

                <input type="email" id="email" name="email" placeholder="Ashesi Email" required class="input-field">
                <span id="emailError" class="error-message"></span>

                <input type="password" id="newPassword" name="newPassword" placeholder="New Password" required class="input-field">
                <span id="passwordError" class="error-message"></span>
                <input type="password" id="rePassword" placeholder="Retype Password" required class="input-field">
                <span id="rePasswordError" class="error-message"></span>

                <input type="text" id="country" name="country" placeholder="Country" required class="input-field">

                <input type="text" id="city" name="city" placeholder="City" required class="input-field">

                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="+233XXXXXXXXX" required class="input-field">
                <span id="phoneError" class="error-message"></span>

                <input type="file" id="image" name="image" class="input-field">

                <input type="hidden" name="userRole" value="1">

                <button type="submit" class="login-button">Register</button>
                <p class="back-to-login"><a href='customerlogin.html'>Back to Login</a></p>
                <hr>
            </form>
        </div>
    </div>
</body>
</html>
